<%= link_to user_post_path(@user, id: post.id), class: 'flex flex-col gap-3 border-2 p-2' do %>
    <p class="text-sm">Post #<%= post.id %></p>
    <p><%= post.text %></p>
    <p class="self-end text-xs">
        <span>
          Comments: <%= post.comments_counter || 0 %>,
          Likes: <%= post.likes_counter || 0 %>
        </span>
    </p>
<% end %>